// Place all the styles related to the freeplay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrap
{
 	width:100%;
 	height:600px;
 	margin: 0 auto;
 	position: relative;
 	border: 1px solid black;
}

#tips
{
 	width:15%;
 	height:100%;
 	float: left;
 	position: relative;
}

#timeline
{
 	width:57%;
 	height:15%;
 	float: left;
 	position: relative;
	text-align: center;
}

#main
{
 	width:60%;
 	height:80%;
 	float: left;
 	position: relative;
}

#historyConsole
{
	width:95%;
	height:70%;
	overflow:scroll;
	font-family:Verdana;
	font-size:12px;
	border:1px solid black;
	white-space: nowrap;
	padding-left:5px;
	padding-right:5px;
}
#console
{
	width:95%;
	height:20%;
}

#img
{
 	width:25%;
 	height:60%;
 	float: right;
 	position: relative;
}

#forum
{
 	width:25%;
 	height:40%;
 	float: right;
 	position: relative;
	text-align: center;
}
