<div>
	<div style="text-align:center; font-size:30px">
		FORUM
	</div>
	<%(@themes).each do |theme|%>
		<div id="wrap3">
			<div class='topic'>
				<%=theme.name%>
			</div>
			<div>
				<%(@forums.where(:theme_id => theme.id)).each do |forum|%>
				<a href="/forum/<%=forum.id %>" >
					<div class='subtopic'> 
						<%=forum.name%>  - <%= forum.description%>
					</div>
				</a>
				<%end%>
			</div>
		</div>
	<%end%>
</div>