<p style="font-size:20px"><b>Novo Forum</b></p>

<form class="form-horizontal" method="post" name="forum" action ="/forum/save">
  <div class="control-group">
    <label class="control-label" for="name">Nome</label>
    <div class="controls">
      <input type="text" id="name" name="name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="description">Descrição</label>
    <div class="controls">
      <textarea rows="4" id="description" name="description" style="width:500px"></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="description">Dúvida</label>
    <div class="controls">
      <textarea rows="4" id="question" name="question" style="width:500px"></textarea>
    </div>
  </div>
  <div class="control-group">
	<label class="control-label" for="theme">Tema para seu forum</label>
    <div class="controls">
		<select id="theme" name="theme">
			<%@themes.each do |theme|%>
  				<option><%= theme.name.camelcase%></option>
			<%end%>
		</select>
	</div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" id="snap" name="snap"> Quero usar meu banco atual
      </label>
      <button type="submit" class="btn btn-primary">Criar Forum</button>
    </div>
  </div>
</form>